@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}



.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 9.8px;
    color: grey;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;

}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

.header>* {
    padding: 20px;
}

.spotifyplaylists {
    padding: 10px;
}

.spotifyplaylists h1 {
    padding: 10px;
    font-size: 25px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 70vh; 
}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
    
}

.card:hover{
    background-color: rgb(105, 103, 103);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 35px;
    height: 35px; 
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 125px;
    right: 19px;
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 17px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bolder;
    font-size: 17px;
}


.playbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    filter: invert(1);
    background: #d7cbcb;
    border-radius: 10px;
    width: 70%;
    padding: 13px;
    width: 66vw;
    height: 49px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 20px;
}

.songList ul {
    padding: 0 15px;
}


.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgba(146, 143, 143, 0.491);
    margin: 12px 0;
    padding: 18px;
    border-radius: 5px;
}
.songList{
    overflow: auto; 
    margin: 10px 0;
}

.seekbar {
    width: 98%;
    background: #6b2ba8;
    height: 10px;
    border-radius: 10px;
    position: absolute;
    bottom: 6px;
    cursor: pointer;
}

.circle{
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: black;
    bottom: 5.1px;
    position: relative;
    left: 0%;
    transition: left 0.5s;
}
.songinformation{
    color: black;
    padding: 0 12px;
    width: 250px;
}
.songtimeplay{
    color: black;
    padding: 0 12px;
    width: 120px;
}
.timevol{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 40px;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
